{% extends 'base.html' %} 

{% block title %} 

我的作业列表 

{% endblock %} 

{% block extrahead %} 

{% load static %}
<script src="{% static 'assets/js/bootstrap-table.min.js' %}"></script>
<link href="{% static 'assets/css/bootstrap-table.min.css' %}" rel="stylesheet">
<script src="{% static 'assets/js/bootstrap-table-zh-CN.min.js' %}"></script> 
{% endblock %} 


{% block content %}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'index' %}">主页</a>
    </li>
    <li class="active">签到管理</li>
    <li class="active">查看详情</li>
</ol>

<h1>我的点名记录</h1>

<!-- Modal 弹出模态框 -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">假条</h4>
            </div>
            <div class="modal-body">
                <h4 id="leave-cause"></h4>
                <center> <img id="img-src"> </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div>
    <form class="form-inline" method="post" action="{% url 'sign.supplement' eventId %}">
        <div class="form-group">
            <input type="text" class="form-control" id="studentId" name="studentId" placeholder="学号">
        </div>
        <button type="submit" class="btn btn-primary" id="supplement">补签</button>
    </form>
</div>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>学生姓名</th>
            <th>签到时间</th>
            <th>备注</th>
        </tr>

        {% for i in data %}
            <tr>
                <th>{{ i.user__username }}</th>
                <th>{{ i.created_time }}</th>
                {% if i.leave__cause %}
                    <th>
                        <button id="btn-show" img-src="{{ i.leave__path }}" cause="{{ i.leave__cause }}" type="button" class="btn btn-primary  btn-sm" data-toggle="modal" data-target="#modal">查看</button>
                    </th>
                {% else %}
                    <th>无</th>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<script>
    $('#btn-show').on('click', function(){
        $('#img-src').attr('src', '/static/' + $(this).attr('img-src'))
        $('#leave-cause').text(($(this).attr('cause')))
    });
</script>

{% endblock %}