{% extends 'base.html' %}
{% block extrahead %}
    {% load static %}
    <link href="{% static 'assets/css/bootstrap-table.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'assets/js/tableExport.js' %}"></script>
{% endblock %}
{% block content %}
    <table id="table"
           data-toggle="table"
           data-url="{% url 'get_users' %}"
           data-side-pagination="server"
           data-pagination="true"
           data-page-size="20"
           data-page-list="[20, 50, 100, 200]"
           data-classes="table table-hover table-condensed"
           data-toolbar="#toolbar"
           data-striped="true"
           data-query-params="queryParams"
           data-search="true"
           data-show-export="true"
    >
        <thead>
        <tr>
            <th data-field="pk" data-sortable="true">ID</th>
            <th data-field="username" data-valign="middle">昵称(真实姓名)</th>
            <th data-field="email" data-sortable="true">邮箱</th>
            <th data-field="id_num" data-sortable="true">用户名(学号/工号)</th>
            <th data-field="group">用户组</th>
            <th data-field="id" data-valign="middle" data-formatter="editFormatter">操作</th>
        </tr>
        </thead>
    </table>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        var $table = $('#table');
        function queryParams(params) {
            $('#toolbar').find('select[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            return params;
        }
        $ok = $('#ok');
        $(function () {
            $ok.click(function () {
                $table.bootstrapTable('refresh');
            });
        });

        function editFormatter(value) {
            return '<a class="btn btn-primary btn-xs" href="{% url '_update_user' %}' + value + '/" title="编辑"><span class="glyphicon glyphicon glyphicon-edit"></span></a>';
        }
    </script>
{% endblock %}
