{% extends "base.html" %}
{% block title %}重置密码{% endblock %}
{% load static %}
{% block extrahead %}
    <script src="{% static "assets/js/jquery-confirm.min.js" %}"></script>
    <link href="{% static "assets/css/jquery-confirm.min.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">重置密码</h3>
                </div>
                <div class="panel-body">
                    <form id="vmaig-auth-resetpassword-form" method="post" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="vmaig-auth-resetpassword-username" class="control-label">新密码</label>
                            <input type="password" class="form-control" id="vmaig-auth-resetpassword-password1"
                                   placeholder="新密码">
                        </div>
                        <div class="form-group">
                            <label for="vmaig-auth-resetpassword-email" class=" control-label">确认密码</label>
                            <input type="password" class="form-control" id="vmaig-auth-resetpassword-password2"
                                   placeholder="确认密码">
                        </div>
                        <br/>

                        <button id="vmaig-auth-resetpassword-button" type="submit"
                                class="btn btn-vmaig-auth pull-right">
                            提交
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script language="javascript" type="text/javascript">
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        $('#vmaig-auth-resetpassword-form').submit(function (event) {
            event.preventDefault();
            var loading_info = $.confirm({
                title: false, // hides the title.
                cancelButton: false,// hides the cancel button.
                confirmButton: false, // hides the confirm button.
                closeIcon: false, // hides the close icon.
                content: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> 请稍等......', // hides content block.
            });
            $.ajax({
                type: "POST",
                url: "{% url 'data' 'resetpassword_mail' %}",
                data: {
                    "uidb64": "{{uidb64}}",
                    "umailb64": "{{umailb64}}",
                    "token": "{{token}}",
                    "new_password1": $("#vmaig-auth-resetpassword-password1").val(),
                    "new_password2": $("#vmaig-auth-resetpassword-password2").val(),
                },
                dataType: 'json',
                success: function (data, textStatus) {
                    var errors = data["errors"];
                    if (errors.length == 0) {
                        loading_info.close();
                        $.alert({
                            title: '密码重置成功！',
                            content:  "请使用新密码登录",
                            confirm: function () {
                                location.replace("{% url 'login' %}");// shorthand.
                            }
                        });
                    }
                    else {
                        loading_info.close()
                        //alert(errors);
                        var html = "<div class=\"alert alert-danger\">"
                        for (var key in errors) {
                            html += errors[key] + "<br/>";
                        }
                        html += "</div>";
                        $("#vmaig-auth-resetpassword-form").before(html);
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    loading_info.close();
                    alert(XMLHttpRequest.responseText);
                    //location.replace("{% url 'change_email' %}")
                }
            })
            return false;
        });

        $("#vmaig-auth-resetpassword-button").click(function () {
            $(".alert").remove();
        });
    </script>

{% endblock %}

