{% extends 'base.html' %}
{% block extrahead %}
    {% load static %}
    <script src="{% static 'assets/js/moment/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/moment/zh-cn.js' %}"></script>
    <link href="{% static 'assets/css/bootstrap-editable.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">主页</a></li>
        <li class="active"><a href="{% url 'banji_list' %}">班级管理</a></li>
        <li class="active">{{ title }}</li>
    </ol>
    <h1>{{ title }}</h1>
    <form id="homework-add-form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">班级名称</label>
            <input type="text" class="form-control" id="name" placeholder="班级名称" required="required" name="name">
        </div>

        <div class="form-group">
            <label for="classname">所属课程</label>
            <select class="form-control" id="classname" name="classname">
                {% for classname in classnames %}
                    <option value="{{ classname.pk }}">{{ classname.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <label for="start_time">开始时间</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="start_time" id="start_time"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class="form-group">
                    <label for="end_time">结束时间</label>
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control" name="end_time" id="end_time"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default" onclick="check()">保存</button>
    </form>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker(
                    {
                        format: 'yyyy-mm-dd hh:ii',
                        viewSelect: 'hour',
                        autoclose: true,
                        todayBtn: true,
                        minuteStep: 30,
                    }
            );
        });
        $('#start_time').val(moment().format('YYYY-MM-DD HH:mm'));
        $(function () {
            $('#datetimepicker2').datetimepicker(
                    {
                        format: 'yyyy-mm-dd hh:ii',
                        viewSelect: 'hour',
                        autoclose: true,
                        todayBtn: true,
                        minuteStep: 30,
                    }
            );
        });
        $('#end_time').val(moment().add(140, 'days').format('YYYY-MM-DD HH:mm'));
    </script>
    <script>
        if (window.location.pathname.indexOf('add_banji') == -1) {
            setTimeout(function () {
                $("#name").val('{{ name }}');
                start_time = '{{ start_time|date:"Y-m-d H:i" }}';
                if(start_time!='')
                    $('#start_time').val(start_time);
                //$('#datetimepicker1').data("DateTimePicker").date('{{ start_time }}');
                end_time = '{{ end_time|date:"Y-m-d H:i" }}'
                if(end_time!='')
                    $('#end_time').val(end_time);
                //$('#datetimepicker2').data("DateTimePicker").date('{{ end_time }}');
                $("#classname option[value='{{ courser_id }}']").attr("selected", true);
            })
        }
    </script>
{% endblock %}
