{% extends 'base.html' %}
{% block extrahead %}
    {% load static %}
    <script src="{% static 'assets/js/bootstrap-table.min.js' %}"></script>
    <link href="{% static 'assets/css/bootstrap-table.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/bootstrap-table-zh-CN.min.js' %}"></script>
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">主页</a></li>
        <li class="active">我的作业列表</li>
    </ol>
    <h4>请在此处查看尚未完成的作业</h4>
    <div id="toolbar">
        <div class="form-inline" role="form">
            <div class="form-group">
                <select class="form-control" id="classname" name="banji">
                    <option value="0" selected="selected">全部班级</option>
                    {% for banji in banjis %}
                        <option value="{{ banji.pk }}">{{ banji.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button id="ok" type="submit" class="btn btn-default">筛选</button>

        </div>
    </div>
    <table id="table"
           data-toggle="table"
           data-url="{% url 'get_my_homework_todo' %}"
           data-side-pagination="server"
           data-pagination="true"
           data-page-size="20"
           data-page-list="[10, 20, 50, 100, 200]"
           data-classes="table table-hover table-condensed"
           data-toolbar="#toolbar"
           data-striped="true"
           data-query-params="queryParams"
           data-search="true"
           data-sort-name="start_time"
           data-sort-order="desc"
    >
        <thead>
        <tr>
            <th data-field="pk" data-visible="false"></th>
            <th data-field="name" data-sortable="true">作业名称</th>
            <th data-field="courser">所属课程</th>
            <th data-field="start_time" data-sortable="true">开始时间</th>
            <th data-field="end_time" data-sortable="true">结束时间</th>
            <th data-field="status" data-formatter="getStatus">状态</th>
            <th data-field="score">得分</th>
            <th class="nobr" data-field="id" data-formatter="editFormatter">操作</th>
            <th data-field="allow_resubmit" data-visible="false"></th>
        </tr>
        </thead>
    </table>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        var $table = $('#table');
        function queryParams(params) {
            $('#toolbar').find('select[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            params['my'] = false;
            return params;
        }
        $ok = $('#ok');
        $(function () {
            $ok.click(function () {
                $table.bootstrapTable('refresh');
            });
        });

        function editFormatter(value, row, index) {
            if(row.status==0||row.status==2)
                return '<a class="btn btn-success btn-xs" href="{% url '_do_homework' %}' + value + '/" title="完成作业" aria-label="完成作业" data-pjax="0"><span class="glyphicon glyphicon-pencil"></span></a>';
            if(row.status==1){
                link = '<a class="btn btn-primary btn-xs" href="{% url '_show_homework_result' %}' + value + '/" title="查看详细"><span class="glyphicon glyphicon-eye-open"></span></a>';
                if(row.allow_resubmit)
                    link = link + ' <a class="btn btn-danger btn-xs" href="{% url '_do_homework' %}' + row.pk + '/" title="重做作业"><span class="glyphicon glyphicon-repeat"></span></a>';
                return link;
            }
        }
        function getStatus(value, row, index) {
            if(value==0)
                return '未做';
            if(value==-1)
                return '时间不允许';
            if(value==1)
                return '已完成';
            if(value==2)
                return '未完成';
        }
        $(function () {
            //$('#table').bootstrapTable('hideColumn', 'status');
        });
    </script>

{% endblock %}
