{% extends 'base.html' %}
{% block extrahead %}
{% endblock %}
{% block content %}
    {% load static %}
<div class="panel panel-default">
  <div class="panel-body">
    <h4><i class="fa fa-file-word-o" aria-hidden="true"></i>
    <span><a href="{% static 'file/C语言程序设计实验教材（第二版）第2印中存在的错误20160810.doc' %}">C语言程序设计实验教材（第二版）第2印中存在的错误20160810.doc</a></span></h4>
  </div>
</div>
    <div class="panel panel-default">
  <div class="panel-body">
    <h4><i class="fa fa-file-word-o" aria-hidden="true"></i>
    <span><a href="{% static 'file/C语言程序设计主教材（第二版）第3印中存在的错误20160810.doc' %}">C语言程序设计主教材（第二版）第3印中存在的错误20160810.doc</a></span></h4>
  </div>
</div>

{% endblock %}