{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block extrahead %}
    {% load static %}
    <script src="{% static 'assets/js/bootstrap-table.min.js' %}"></script>
    <link href="{% static 'assets/css/bootstrap-table.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'assets/js/tableExport.js' %}"></script>
    <script src="{% static 'assets/js/jquery-confirm.min.js' %}"></script>
    <link href="{% static 'assets/css/jquery-confirm.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/moment/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/moment/zh-cn.js' %}"></script>
    <link href="{% static 'assets/css/bootstrap-editable.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap-datetimepicker.zh-CN.js' %}" charset="UTF-8"></script>
    <script src="{% static 'js/jquery.tablednd.js' %}"></script>
    <link href="{% static 'assets/css/bootstrap-table-reorder-rows.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/bootstrap-table-reorder-rows.min.js' %}"></script>
    <script src="{% static 'assets/js/editable/bootstrap-table-editable.min.js' %}"></script>
    <script src="{% static 'assets/js/editable/bootstrap-editable.js' %}"></script>
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">主页</a></li>
        <li class="active">作业管理</li>
        <li class="active">{{ title }}</li>
    </ol>
    <h2>{{ title }} (共<span id="count"></span>题,共<span id="score"></span>分）</h2>
    <form id="homework-add-form" method="post" onsubmit="return check();">{% csrf_token %}
        <div class="form-group">
            <label for="name">作业名称</label>
            <input type="text" class="form-control" id="name" placeholder="作业名称" required="required" name="name">
        </div>
        <div class="form-group">
            <label for="course">所属课程</label>
            <select class="form-control" id="course" name="course">
                <option value="0" selected="selected">请下拉选择所属课程</option>
                {% for classname in classnames %}
                    <option value="{{ classname.pk }}">{{ classname.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="work_kind">作业类型：</label>
            <label class="radio-inline">
                <input type="radio" id="work_kind" value="作业" name="work_kind" checked>作业
            </label>
            <label class="radio-inline">
                <input type="radio" id="work_kind" value="实验" name="work_kind">实验
            </label>
        </div>
        <div class="form-group">
            <label for="languages">允许的编译器类型：</label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="0" name="languages" checked> C
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="1" name="languages" checked> C++
            </label>
            <!--<label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="2" name="languages" checked> Pascal
            </label>-->
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="3" name="languages" checked> Java
            </label>
            <!--<label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="4" name="languages" checked> Ruby
            </label>-->
            <!--<label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="5" name="languages" checked> Bash
            </label>-->
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="6" name="languages" checked> Python
            </label>
        </div>
        <div class="form-group">
            <label for="allow_resubmit">是否允许重复提交：</label>
            <label class="radio-inline">
                <input type="radio" id="allow_resubmit" value="1" name="allow_resubmit" checked>是
            </label>
            <label class="radio-inline">
                <input type="radio" id="allow_resubmit" value="0" name="allow_resubmit">否
            </label>
        </div>
	 <div class="form-group">
            <label for="allow_random">是否打乱选择题显示顺序：</label>
            <label class="radio-inline">
                <input type="radio" id="allow_random" value="1" name="allow_random" checked>是
            </label>
            <label class="radio-inline">
                <input type="radio" id="allow_random" value="0" name="allow_random">否
            </label>
        </div>

        <div class="form-group">
            <label for="allow_similarity">是否开启相似度判分：</label>
            <label class="radio-inline">
                <input type="radio" id="allow_similarity" value="1" name="allow_similarity" >是
            </label>
            <label class="radio-inline">
                <input type="radio" id="allow_similarity" value="0" name="allow_similarity" checked>否
            </label>
        </div>
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <label for="start_time">开始时间：</label>
                    <div class='input-group date form_datetime' id='datetimepicker1'>
                        <input type='text' class="form-control" name="start_time" id="start_time"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class="form-group">
                    <label for="end_time">结束时间：</label>
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control" name="end_time" id="end_time"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
            <input type="hidden" id="problem-info" name="problem-info">
            <input type="hidden" id="choice-problem-info" name="choice-problem-info">
            <input type="hidden" id="choice-problem-ids" name="choice-problem-ids">
            <input type="hidden" id="problem-ids" name="problem-ids">
            <input type="hidden" id="total_score" name="total_score">

            <input type="hidden" id="tiankong-problem-info" name="tiankong-problem-info">
            <input type="hidden" id="gaicuo-problem-info" name="gaicuo-problem-info">
            <input type="hidden" id="tiankong-problem-ids" name="tiankong-problem-ids">
            <input type="hidden" id="gaicuo-problem-ids" name="gaicuo-problem-ids">
        </div>
        <button type="submit" name="saveButton" id="saveButton" class="btn btn-default">保存</button>
    </form>

    <p><p><h3>已选选择题（共<span id="choice_count">0</span>题，共<span id="choice_score">0</span>分）（拖动进行排序）</h3>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTable2">
            添加选择题
        </button>
        <button type="button" class="btn btn-danger" id="remove2">移除所选项</button>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                批量修改选择题分数
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for i in '123456789012345'|make_list %}
                    <li><a href="javascript:void(0)" onclick="quick_change_score({{ forloop.counter }})">每题{{ forloop.counter }}分</a></li>
                {% endfor %}
            </ul>
        </div>
    </div></p>

    <div class="modal fade" id="modalTable2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加选择题</h4>
                </div>
                <div class="modal-body">
                    <div id="toolbar2">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <select class="form-control" id="classname" name="classname">
                                    <option value="0" selected="selected">全部课程</option>
                                    {% for classname in classnames %}
                                        <option value="{{ classname.pk }}">{{ classname.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="id_knowledgePoint1" name="knowledgePoint1">
                                    <option value="0" selected="selected">全部一级知识点</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="id_knowledgePoint2" name="knowledgePoint2">
                                    <option value="0" selected="selected">全部二级知识点</option>
                                </select>
                            </div>
                            <button id="ok2" type="submit" class="btn btn-default">筛选</button>
                        </div>
                    </div>
                    <table id="table3"
                           data-toggle="table"
                           data-url="{% url 'get_json' 'ChoiceProblem' %}"
                           data-side-pagination="server"
                           data-pagination="true"
                           data-page-list="[1, 20, 50, 100, 200]"
                           data-classes="table table-hover table-condensed"
                           data-toolbar="#toolbar2"
                           data-striped="true"
                           data-query-params="queryParams2"
                           data-search="true"
                    >
                        <thead>
                        <tr>
                            <th data-field="state" data-valign="middle" data-checkbox="true" data-formatter="stateFormatter2"></th>
                            <th data-field="pk" data-sortable="true" data-valign="middle">ID</th>
                            <th data-field="title" data-sortable="true" data-valign="middle">标题</th>
                            <th data-field="knowledge_point" data-valign="middle"> 知识点</th>
                            <th data-field="update_date" data-sortable="true" data-valign="middle">最后修改日期</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="get_select2" class="btn btn-success">添加所选到列表</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <table id="table4"
           data-toggle="table"
           data-pagination="false"
           data-classes="table table-hover table-condensed"
           data-striped="true"
           data-use-row-attr-func="true"
           data-unique-id="pk"
           data-reorderable-rows="true"
    >
        <thead>
        <tr>
            <th data-field="state" data-valign="middle" data-checkbox="true"></th>
            <th data-field="pk" data-valign="middle">ID</th>
            <th data-field="title" data-valign="middle">标题</th>
            <th class="nobr" data-field="knowledge_point" data-valign="middle"> 知识点</th>
            <th data-field="total_score" data-valign="middle" data-align="center" data-editable="true">分数</th>
        </tr>
        </thead>
    </table>

    <p><h3>已选编程题(共<span id="problem_count"></span>题，共<span id="problem_score"></span>分)（拖动进行排序）</h3>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTable">
            添加编程题
        </button>
        <button type="button" class="btn btn-danger" id="remove">移除所选项</button>
    </div></p>

    <div class="modal fade" id="modalTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加编程题</h4>
                </div>
                <div class="modal-body">
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <select class="form-control" id="classname" name="classname">
                                    <option value="0" selected="selected">全部课程</option>
                                    {% for classname in classnames %}
                                        <option value="{{ classname.pk }}">{{ classname.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="id_knowledgePoint1" name="knowledgePoint1">
                                    <option value="0" selected="selected">全部一级知识点</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="id_knowledgePoint2" name="knowledgePoint2">
                                    <option value="0" selected="selected">全部二级知识点</option>
                                </select>
                            </div>
                            <button id="ok" type="submit" class="btn btn-default">筛选</button>
                        </div>
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-url="{% url 'get_json' 'Problem' %}"
                           data-side-pagination="server"
                           data-pagination="true"
                           data-page-list="[1, 20, 50, 100, 200]"
                           data-classes="table table-hover table-condensed"
                           data-toolbar="#toolbar"
                           data-striped="true"
                           data-query-params="queryParams"
                           data-search="true"
                    >
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true" data-formatter="stateFormatter"></th>
                            <th data-field="pk" data-sortable="true" data-valign="middle">ID</th>
                            <th data-field="title" data-sortable="true" data-valign="middle">标题</th>
                            <th data-field="knowledge_point" data-valign="middle"> 知识点</th>
                            <th data-valign="middle" data-align="center" data-field="total_score">总分</th>
                            <th data-field="tsetcases" data-visible="false" data-formatter="tcFormatter">测试用例</th>
                            <th data-field="update_date" data-sortable="true" data-valign="middle">最后修改日期</th>
                            {#                            <th data-field="id" data-valign="middle"></th>#}
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="get_select" class="btn btn-success">添加所选到列表</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <table id="table2"
           data-toggle="table"
           data-pagination="false"
           data-classes="table table-hover table-condensed"
           data-striped="true"
           data-use-row-attr-func="true"
           data-reorderable-rows="true"
           data-unique-id="pk"
    >
        <thead>
        <tr>
            <th data-field="state" data-valign="middle" data-checkbox="true"></th>
            <th data-field="pk" data-valign="middle">ID</th>
            <th data-field="title" data-valign="middle">标题</th>
            <th data-field="knowledge_point" data-valign="middle">知识点</th>
            <th data-field="total_score" data-align="center" data-valign="middle">总分</th>
            <th data-field="tsetcases" data-visible="false" data-formatter="tcFormatter">测试用例</th>
            <th data-field="action" data-valign="middle" data-formatter="actionFormatter">操作</th>
        </tr>
        </thead>
    </table>

    <p><h3>已选程序填空题(共<span id="tiankong_count"></span>题，共<span id="tiankong_score"></span>分)（拖动进行排序）</h3>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTable3">
            添加程序填空题
        </button>
        <button type="button" class="btn btn-danger" id="remove3">移除所选项</button>
    </div></p>

    <div class="modal fade" id="modalTable3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加程序填空题</h4>
                </div>
                <div class="modal-body">
                    <div id="toolbar3">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <select class="form-control" id="classname" name="classname">
                                    <option value="0" selected="selected">全部课程</option>
                                    {% for classname in classnames %}
                                        <option value="{{ classname.pk }}">{{ classname.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" id="id_knowledgePoint1" name="knowledgePoint1">
                                    <option value="0" selected="selected">全部一级知识点</option>
                                </select>
                            </div>

                            <div class="form-group">

                                <select class="form-control" id="id_knowledgePoint2" name="knowledgePoint2">
                                    <option value="0" selected="selected">全部二级知识点</option>
                                </select>
                            </div>
                            <button id="ok3" type="submit" class="btn btn-default">筛选</button>
                        </div>
                    </div>
                    <table id="table5"
                           data-toggle="table"
                           data-url="{% url 'get_json' 'TiankongProblem' %}"
                           data-side-pagination="server"
                           data-pagination="true"
                           data-page-list="[1, 20, 50, 100, 200]"
                           data-classes="table table-hover table-condensed"
                           data-toolbar="#toolbar3"
                           data-striped="true"
                           data-query-params="queryParams3"
                           data-search="true"
                    >
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true" data-formatter="stateFormatter"></th>
                            <th data-field="pk" data-sortable="true" data-valign="middle">ID</th>
                            <th data-field="title" data-sortable="true" data-valign="middle">标题</th>
                            <th data-field="knowledge_point" data-valign="middle"> 知识点</th>
                            <th data-valign="middle" data-align="center" data-field="total_score">总分</th>
                            <th data-field="tsetcases" data-visible="false" data-formatter="tcFormatter">测试用例</th>
                            <th data-field="update_date" data-sortable="true" data-valign="middle">最后修改日期</th>
                            {#                            <th data-field="id" data-valign="middle"></th>#}
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="get_select3" class="btn btn-success">添加所选到列表</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <table id="table6"
           data-toggle="table"
           data-pagination="false"
           data-classes="table table-hover table-condensed"
           data-striped="true"
           data-use-row-attr-func="true"
           data-reorderable-rows="true"
           data-unique-id="pk"
    >
        <thead>
        <tr>
            <th data-field="state" data-valign="middle" data-checkbox="true"></th>
            <th data-field="pk" data-valign="middle">ID</th>
            <th data-field="title" data-valign="middle">标题</th>
            <th data-field="knowledge_point" data-valign="middle">知识点</th>
            <th data-field="total_score" data-align="center" data-valign="middle">总分</th>
            <th data-field="tsetcases" data-visible="false" data-formatter="tcFormatter">测试用例</th>
            <th data-field="action" data-valign="middle" data-formatter="actionFormatter3">操作</th>
        </tr>
        </thead>
    </table>

    <p><h3>已选程序改错题(共<span id="gaicuo_count"></span>题，共<span id="gaicuo_score"></span>分)（拖动进行排
序）</h3>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTable4">
            添加程序改错题
        </button>
        <button type="button" class="btn btn-danger" id="remove4">移除所选项</button>
    </div></p>

    <div class="modal fade" id="modalTable4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加程序改错题</h4>
                </div>
                <div class="modal-body">
                    <div id="toolbar4">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <select class="form-control" id="classname" name="classname">
                                    <option value="0" selected="selected">全部课程</option>
                                    {% for classname in classnames %}
                                        <option value="{{ classname.pk }}">{{ classname.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" id="id_knowledgePoint1" name="knowledgePoint1">
                                    <option value="0" selected="selected">全部一级知识点</option>
                                </select>
                            </div>

                            <div class="form-group">

                                <select class="form-control" id="id_knowledgePoint2" name="knowledgePoint2">
                                    <option value="0" selected="selected">全部二级知识点</option>
                                </select>
                            </div>
                            <button id="ok4" type="submit" class="btn btn-default">筛选</button>
                        </div>
                    </div>
                    <table id="table7"
                           data-toggle="table"
                           data-url="{% url 'get_json' 'GaicuoProblem' %}"
                           data-side-pagination="server"
                           data-pagination="true"
                           data-page-list="[1, 20, 50, 100, 200]"
                           data-classes="table table-hover table-condensed"
                           data-toolbar="#toolbar4"
                           data-striped="true"
                           data-query-params="queryParams4"
                           data-search="true"
                    >
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true" data-formatter="stateFormatter"></th>
                            <th data-field="pk" data-sortable="true" data-valign="middle">ID</th>
                            <th data-field="title" data-sortable="true" data-valign="middle">标题</th>
                            <th data-field="knowledge_point" data-valign="middle"> 知识点</th>
                            <th data-valign="middle" data-align="center" data-field="total_score">总分</th>
                            <th data-field="tsetcases" data-visible="false" data-formatter="tcFormatter">测试用例</th>
                            <th data-field="update_date" data-sortable="true" data-valign="middle">最后修改日期</th>
                            {#                            <th data-field="id" data-valign="middle"></th>#}
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="get_select4" class="btn btn-success">添加所选到列表</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <table id="table8"
           data-toggle="table"
           data-pagination="false"
           data-classes="table table-hover table-condensed"
           data-striped="true"
           data-use-row-attr-func="true"
           data-reorderable-rows="true"
           data-unique-id="pk"
    >
        <thead>
        <tr>
            <th data-field="state" data-valign="middle" data-checkbox="true"></th>
            <th data-field="pk" data-valign="middle">ID</th>
            <th data-field="title" data-valign="middle">标题</th>
            <th data-field="knowledge_point" data-valign="middle">知识点</th>
            <th data-field="total_score" data-align="center" data-valign="middle">总分</th>
            <th data-field="tsetcases" data-visible="false" data-formatter="tcFormatter">测试用例</th>
            <th data-field="action" data-valign="middle" data-formatter="actionFormatter4">操作</th>
        </tr>
        </thead>
    </table>

    <br><button type="button" class="btn btn-default" onClick="$('#saveButton').trigger('click');">保存</button>

    <div id="modal_tc" class="fade modal" role="dialog" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改分值信息：
                        <label id="title"></label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="result_tc" name="result_bc"></div>
                    <input type="hidden" id="problem_id">
                </div>
                <div class="modal-footer">
                    <button id="done_tc" name="done_tc" type="button" class="btn btn-default" data-dismiss="modal">
                        保存修改
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                viewSelect: 'hour',
                autoclose: true,
                todayBtn: true,
                minuteStep: 30,
            });
            $('#start_time').val(moment().format('YYYY-MM-DD HH:mm'));
            $('#datetimepicker2').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                viewSelect: 'hour',
                autoclose: true,
                todayBtn: true,
                minuteStep: 30,
            });
            $('#end_time').val(moment().add(28, 'days').format('YYYY-MM-DD HH:mm'));
        });
        function actionFormatter(value, row, index) {
            return [
                '<a class="btn btn-primary btn-xs" href="javascript:updateTC(' + row.id + ',\'#table2\')" title="修改分值信息">'+
                '<i class="glyphicon glyphicon-wrench"></i></a> '+
                '<a class="btn btn-success btn-xs" href="../send_zipfile_'+row.id+'" title="下载测试用例">'+
                '<i class="glyphicon glyphicon-download-alt"></i></a>']
        }
        function actionFormatter3(value, row, index) {
            $tc_table=$table6;
            return [
                '<a class="btn btn-primary btn-xs" href="javascript:updateTC(' + row.id + ',\'#table6\')" title="修改分值信息">'+
                '<i class="glyphicon glyphicon-wrench"></i></a> '+
                '<a class="btn btn-success btn-xs" href="../send_zipfile_'+row.id+'" title="下载测试用例">'+
                '<i class="glyphicon glyphicon-download-alt"></i></a>']
        }
        function actionFormatter4(value, row, index) {
            $tc_table=$table8;
            return [
                '<a class="btn btn-primary btn-xs" href="javascript:updateTC(' + row.id + ',\'#table8\')" title="修改分值信息">'+
                '<i class="glyphicon glyphicon-wrench"></i></a> '+
                '<a class="btn btn-success btn-xs" href="../send_zipfile_'+row.id+'" title="下载测试用例">'+
                '<i class="glyphicon glyphicon-download-alt"></i></a>']
        }
        function updateTC(id,tableName){
                $tc_table = $(tableName);
                row = $tc_table.bootstrapTable('getRowByUniqueId', id);
                //alert(JSON.stringify(row));
                id = row.id;
                title = row.title;
                score = $.map(row.testcases, function (item) { return item.score });
                infos = $.map(row.testcases, function (item) { return item.info });
                descs = $.map(row.testcases, function (item) { return item.desc });
                var html = '<form class="form-horizontal">';
                for (var i = 1; i <= score.length; i++) {
                    html += '<div class="panel panel-default">' +
                            '<input type="hidden" id="desc" value="' + descs[i - 1] + '">' +
                            '<div class="panel-body"><div class="form-group">' +
                            '<label class="col-sm-2 control-label">测试点' + '<span class="desc">' + descs[i - 1] + '</span>' + '</label>' +
                            '<div class="col-sm-6">' +
                            '<input type="text" class="form-control" id="info" value="' + infos[i - 1] + '">' +
                            '</div></div>' +
                            '<div class="form-group">' +
                            '<label class="col-sm-2 control-label">分值</label><div class="col-sm-2"><input type="text" class="form-control" id="score" value="' + score[i - 1] + '"></div></div></div></div>';
                }
                html += "</form>";
                $('#result_tc').html(html);
                $('#modal_tc').find("#title").text(title);
                $('#modal_tc').find("#problem_id").text(id);
                $('#modal_tc').modal('show');
        };
        function check() {
            if ($("#course").val() == 0) {
                alert("请选择课程"); return false;
            } else {
                $("#problem-ids").val($.map($table2.bootstrapTable('getData'), function (row) { return row.pk; }).toString());
                $("#choice-problem-ids").val($.map($table4.bootstrapTable('getData'), function (row) { return row.pk; }).toString());
                $("#tiankong-problem-ids").val($.map($table6.bootstrapTable('getData'), function (row) { return row.pk; }).toString());
                $("#gaicuo-problem-ids").val($.map($table8.bootstrapTable('getData'), function (row) { return row.pk; }).toString());

                $('#problem-info').val(JSON.stringify($table2.bootstrapTable('getData')));
                $('#choice-problem-info').val(JSON.stringify($table4.bootstrapTable('getData')));
                $('#tiankong-problem-info').val(JSON.stringify($table6.bootstrapTable('getData')));
                $('#gaicuo-problem-info').val(JSON.stringify($table8.bootstrapTable('getData')));

                //console.log($('#gaicuo-problem-info').val());return false;
                $('#total_score').val($("#score").text());
            }
        }

        var $table = $('#table');
        var $table2 = $('#table2');
        var $table3 = $('#table3');
        var $table4 = $('#table4');
        var $table5 = $('#table5');
        var $table6 = $('#table6');
        var $table7 = $('#table7');
        var $table8 = $('#table8');
        var $tc_table;//用来保存修改测试用例时对应的表格名称
        $(function () {
            $('#ok2').click(function () {
                $table3.bootstrapTable('refresh');
            });
            $('#ok').click(function () {
                $table.bootstrapTable('refresh');
            });
            $('#ok3').click(function () {
                $table5.bootstrapTable('refresh');
            });
            $('#ok4').click(function () {
                $table7.bootstrapTable('refresh');
            });
        });

        function queryParams(params) {
            $('#toolbar').find('select[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            return params;
        }
        function queryParams2(params) {
            $('#toolbar2').find('select[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            return params;
        }
        function queryParams3(params) {
            $('#toolbar3').find('select[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            return params;
        }
        function queryParams4(params) {
            $('#toolbar4').find('select[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            return params;
        }

        $(function () {
            $('#get_select').click(function () {
                var ids = $.map($table2.bootstrapTable('getData'), function (row) {
                    return row.pk;
                });
                $.each($table.bootstrapTable('getAllSelections'), function (i, item) {
                    if ($.inArray(item.pk, ids) == -1) {
                        $table2.bootstrapTable('insertRow', {index: 0, row: item});
                        //alert(JSON.stringify(item));
                    }
                });
                $table.bootstrapTable('refresh');
            });
            $('#get_select2').click(function () {
                var ids = $.map($table4.bootstrapTable('getData'), function (row) {
                    return row.pk;
                });
                $.each($table3.bootstrapTable('getAllSelections'), function (i, item) {
                    if ($.inArray(item.pk, ids) == -1) {
                        $table4.bootstrapTable('insertRow', {index: 0, row: item});
                    }
                });
                $table3.bootstrapTable('refresh');
            });
            $('#get_select3').click(function () {
                var ids = $.map($table6.bootstrapTable('getData'), function (row) {
                    return row.pk;
                });
                $.each($table5.bootstrapTable('getAllSelections'), function (i, item) {
                    if ($.inArray(item.pk, ids) == -1) {
                        $table6.bootstrapTable('insertRow', {index: 0, row: item});
                    }
                });
                $table5.bootstrapTable('refresh');
            });
            $('#get_select4').click(function () {
                var ids = $.map($table8.bootstrapTable('getData'), function (row) {
                    return row.pk;
                });
                $.each($table7.bootstrapTable('getAllSelections'), function (i, item) {
                    if ($.inArray(item.pk, ids) == -1) {
                        $table8.bootstrapTable('insertRow', {index: 0, row: item});
                    }
                });
                $table7.bootstrapTable('refresh');
            });

        });

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        jQuery(document).ready(function () {
            $("[name='classname']").change(function () {
                $("[name='knowledgePoint2']").empty();
                $("[name='knowledgePoint2']").append("<option value=\"0\">全部二级知识点</option>");
                $("[name='knowledgePoint1']").empty();
                $("[name='knowledgePoint1']").append("<option value=\"0\">全部一级知识点</option>");
                $.ajax({
                    type: "post",
                    url: "{% url 'select_point' %}",
                    dataType: "json",
                    data: {'course': $(this).val(), 'parent': 0},
                    success: function (data) {
                        for (var p in data) {
                            $("[name='knowledgePoint1']").append("<option value=\"" + p + "\">" + data [p] + "</option>");
                        }
                    }
                });
            });
            $("[name='knowledgePoint1']").change(function () {
                $("[name='knowledgePoint2']").empty();
                $("[name='knowledgePoint2']").append("<option value=\"0\">全部二级知识点</option>");
                $.ajax({
                    type: "post",
                    url: "{% url 'select_point' %}",
                    dataType: "json",
                    data: {'parent': $(this).val()},
                    success: function (data) {
                        for (var p in data) {
                            $("[name='knowledgePoint2']").append("<option value=\"" + p + "\">" + data [p] + "</option>");
                        }
                    }
                });
            });
        })

        function stateFormatter(value, row, index) {
            var ids = $.map($table2.bootstrapTable('getData'), function (row) {
                return row.pk;
            });
            if ($.inArray(row.pk, ids) != -1) {
                return {
                    disabled: true,
                    checked: true
                }
            }
            return value;
        }
        function tcFormatter(value, row, index) {
            return JSON.stringify(row.testcases);
        }
        function stateFormatter2(value, row, index) {
            var ids = $.map($table4.bootstrapTable('getData'), function (row) {
                return row.pk;
            });
            if ($.inArray(row.pk, ids) != -1) {
                return {
                    disabled: true,
                    checked: true
                }
            }
            return value;
        }
        $(function () {
            $('#remove').click(function () {
                var ids = $.map($table2.bootstrapTable('getSelections'), function (row) {
                    return row.pk;
                });
                if (ids.length > 0) {
                    $table2.bootstrapTable('remove', {
                        field: 'pk', values: ids,
                    });
                    $table.bootstrapTable('refresh');
                } else {
                    alert('您尚未选择题目')
                }
            });
            $('#remove2').click(function () {
                var ids = $.map($table4.bootstrapTable('getSelections'), function (row) {
                    return row.pk;
                });
                if (ids.length > 0) {
                    $table4.bootstrapTable('remove', {
                        field: 'pk', values: ids,
                    });
                    $table3.bootstrapTable('refresh');
                } else {
                    alert('您尚未选择题目')
                }
            });
            $('#remove3').click(function () {
                var ids = $.map($table6.bootstrapTable('getSelections'), function (row) {
                    return row.pk;
                });
                if (ids.length > 0) {
                    $table6.bootstrapTable('remove', {
                        field: 'pk', values: ids,
                    });
                    $table5.bootstrapTable('refresh');
                } else {
                    alert('您尚未选择题目')
                }
            });
            $('#remove4').click(function () {
                var ids = $.map($table8.bootstrapTable('getSelections'), function (row) {
                    return row.pk;
                });
                if (ids.length > 0) {
                    $table8.bootstrapTable('remove', {
                        field: 'pk', values: ids,
                    });
                    $table7.bootstrapTable('refresh');
                } else {
                    alert('您尚未选择题目')
                }
            });
        });
        $('#done_tc').click(function () {
            id = +$("#modal_tc").find("#problem_id").text();
            var testcases = [];
            var totalscore = 0;
            $("#modal_tc").find(".panel").each(function () {
                var desc = $(this).find("#desc").val()
                var info = $(this).find("#info").val();
                var score = $(this).find("#score").val();
                totalscore += parseInt(score);
                testcases.push({'info': info, 'score': score, 'desc': desc})
            });
            var row = $tc_table.bootstrapTable('getRowByUniqueId', id);
            row.total_score = totalscore;
            row.testcases = testcases;
            console.log(row.testcases)
            $tc_table.bootstrapTable('updateByUniqueId', {
                id: id,
                row: row
            });
        });
        $(function () {
            if (window.location.pathname.indexOf('add-homework') == -1) {
                $('input[name=languages]').attr("checked", false);
                setTimeout(function () {
                            $("#name").val('{{ name }}');
                            start_time = '{{ start_time|date:"Y-m-d H:i" }}';
                            if(start_time!='')
                                $('#start_time').val(start_time);
                            end_time = '{{ end_time|date:"Y-m-d H:i" }}'
                            if(end_time!='')
                                $('#end_time').val(end_time);
                            $("#course option[value='{{ courser_id }}']").attr("selected", true);
                            $('#allow_resubmit[value="{{ allow_resubmit }}"]').attr('checked', true);
                            $('#allow_random[value="{{ allow_random }}"]').attr('checked', true);
                            $('#allow_similarity[value="{{ allow_similarity }}"]').attr('checked', true);
                            $('#work_kind[value="{{ work_kind }}"]').attr('checked',true);
                            data = window.location.pathname.split('-').pop();
                            if(data.replace("/","")=="myhomework")
                                return;
                            $.ajax({
                                type: "post",
                                url: "{% url 'get_homework_info' %}",
                                dataType: "json",
                                data: {
                                    'homework_id': data.replace("/", ""), 'my': window.location.pathname.indexOf('my') != -1
                                },
                                success: function (data) {
                                    console.log(data);
                                    $table4.bootstrapTable('append', data.choice_problem_info);
                                    $table2.bootstrapTable('append', data.problem_info);
                                    $table6.bootstrapTable('append', data.tiankong_problem_info);
                                    $table8.bootstrapTable('append', data.gaicuo_problem_info);
                                }
                            });
                            for (var i = 0; "{{ languages }}"!="" && i < "{{ languages }}".split(',').length; i++) {
                                id = "{{ languages }}".split(',')[i];
                                $("input[name=languages][value=" + id + "]").prop("checked", true);
                            }
                        }, 0
                );
            }
        });

        $table4.bind('DOMNodeInserted', function () {
            var score = 0;
            var count = 0;
            $.each($table4.bootstrapTable('getData'), function (i, item) {
                if (item.total_score) {
                    count += 1;
                    score += parseInt(item.total_score);
                }
            });
            $('#choice_score').html(score);
            $('#choice_count').html(count);
            fresh_score()
        });
        $table2.bind('DOMNodeInserted', function () {
            var count = 0;
            var score = 0;
            $.each($table2.bootstrapTable('getData'), function (i, item) {
                if (item.total_score) {
                    score += parseInt(item.total_score);
                    count += 1;
                }
            });
            $('#problem_score').html(score);
            $('#problem_count').html(count);
            fresh_score()
        });
        $table6.bind('DOMNodeInserted', function () {
            var count = 0;
            var score = 0;
            $.each($table6.bootstrapTable('getData'), function (i, item) {
                if (item.total_score) {
                    score += parseInt(item.total_score);
                    count += 1;
                }
            });
            $('#tiankong_score').html(score);
            $('#tiankong_count').html(count);
            fresh_score()
        });
        $table8.bind('DOMNodeInserted', function () {
            var count = 0;
            var score = 0;
            $.each($table8.bootstrapTable('getData'), function (i, item) {
                if (item.total_score) {
                    score += parseInt(item.total_score);
                    count += 1;
                }
            });
            $('#gaicuo_score').html(score);
            $('#gaicuo_count').html(count);
            fresh_score()
        });

        function fresh_score() {
            $("#count").html(parseInt($('#choice_count').text()) + parseInt($('#problem_count').text())
                + parseInt($('#tiankong_count').text()) + parseInt($('#gaicuo_count').text()));
            $("#score").html(parseInt($('#choice_score').text()) + parseInt($('#problem_score').text())
                + parseInt($('#tiankong_score').text()) + parseInt($('#gaicuo_score').text()));
        }

        function quick_change_score(score) {
            $.each($table4.bootstrapTable('getData'), function (i, item) {
                if (item.total_score) {
                    item.total_score=score;
                    $table4.bootstrapTable('updateByUniqueId', {id: item.id, row: item});
                }
            });
        }
    </script>
{% endblock %}
